.container {
    display: flex;
    margin-top: 30px;
    height: 500px
}

.hotel__content {
    padding-top: 20px;
    padding-left: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 20px;
}

.hotel__name {
    font-size: 40px;
    margin-top: 10px;
}

.hotel__photo {
    padding-left: 20px;
    padding-top: 20px;
}

.hotel__country, .hotel__city, .hotel__description {
    margin-top: 20px;
    display: flex;
}

.icon {
    margin-right: 10px;
}

.info {
    margin-top: 10px;
}

.hotel__stars {
    margin-top: 20px;
}

.rooms {
    display: flex;
    flex-wrap: wrap;
}

.room__item {
    width: 25%;
    margin-bottom: 30px;
    padding: 0 15px;
    margin-left: 30px;
}

.room__photo {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.room__item__inner {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    margin-bottom: 8px;
}

.room__item__content{
    font-size: 18px;
    margin-left: 10px;
    color: white;
}

.room__item__type {
    color: red;
    font-size: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.links {
    display: flex;
    flex-direction: column;
}

a {
    color: white;
    text-decoration: none;
    opacity: 0.75;
    transition: opacity .1s linear;
    margin-bottom: 10px;
}

a:hover {
    opacity: 1;
}

.hotel__stars {
    display: flex;
}
