.rooms {
    display: flex;
}

.room__item {
    margin-left: 30px;
}

.container {
    display: flex;
    margin-top: 30px;
    height: 500px
}

.hotel__content {
    padding-top: 20px;
    padding-left: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;;
    color: white;
    font-size: 20px;
}

.hotel__name {
    font-size: 40px;
    margin-top: 10px;
}

.hotel__photo {
    padding-left: 20px;
    padding-top: 20px;
}

.hotel__country, .hotel__city, .hotel__description {
    margin-top: 20px;
    display: flex;
}

.icon {
    margin-right: 10px;
}

.info {
    margin-top: 10px;
}

.hotel__stars {
    margin-top: 20px;
}
